.root{
    display: flex;
    font-family: 'Poppins';

}
.left{
    width: 50vw;
    background-color: #F1EDDF;
    padding: 100px 50px;
    min-height: calc(100vh - 4rem);
}
.right{
    width: 50vw;
    padding: 100px 50px; 
}
.desc{
    font-size: 24px;
}
.title{
    font-size: 36px;
    font-weight: 700;
}