.root{
    border-radius: 4px;
    padding: 10px;
    box-shadow: 1px 0px 1px 0px rgba(0,0,0,0.1);
-webkit-box-shadow: 1px 1px 0px 0px rgba(0,0,0,0.1);
-moz-box-shadow: 1px 1px 0px 0px rgba(0,0,0,0.1);
}
.root:last-child{
    box-shadow: 1px 4px 6px 0px rgba(0,0,0,0.1);
    -webkit-box-shadow: 1px 4px 6px 0px rgba(0,0,0,0.1);
    -moz-box-shadow: 1px 4px 6px 0px rgba(0,0,0,0.1);
}
.name{
    font-weight: bold;

}
.title{
    white-space: nowrap;
}
.top{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.topLeft{
    display: flex;
    flex-direction: column;
}
.desc{
    margin-top: 10px;
}